table{
font-size:1.15em;
}

table.tftable{
/*font-size:12px;*/
color:#333333;
/*width:100%;*/
border-width:1px;
border-color: #ffb2b2;
border-collapse:collapse;
}

table.tftable th{
/*font-size:12px;*/
background-color:#ffcccc;
border-width: 1px;
padding: 8px;
border-style: solid;
border-color: #ffb2b2;
text-align:left;
}

table.tftable td{
/*font-size:12px;*/
border-width:1px;
padding:8px;
border-style:solid;
border-color:#ffb2b2;
}

.highlight_table_row{
   background-color: red;
}

.change_table_row_text{
   color: white;
}

.highlight_table_row_extra{
   background-color: red;
}

.change_table_row_text_extra{
   color: white;
}

a,#currentpage{
font-size:1.30em;
}